In [1]:
import numpy as np
import pandas as pd
from functools import reduce

/home/jhallbe/anaconda3/envs/waldo/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/jhallbe/anaconda3/envs/waldo/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
city_attributes = pd.read_csv("data/city_attributes.csv")
humidity = pd.read_csv("data/humidity.csv")
pressure = pd.read_csv("data/pressure.csv")
temperature = pd.read_csv("data/temperature.csv")
weather_description = pd.read_csv("data/weather_description.csv")
wind_direction = pd.read_csv("data/wind_direction.csv")
wind_speed = pd.read_csv("data/wind_speed.csv")

In [3]:
def update_column_names(df, attribute):
    columns = df.columns
    columns = [attribute + "_" + columns[i] for i in range(1,len(columns))]
    
    df.columns = ["datetime"] + columns
    
    return df

In [4]:
city_attributes = update_column_names(city_attributes, "city_attributes")
humidity = update_column_names(humidity, "humidity")
pressure = update_column_names(pressure, "pressure")
temperature = update_column_names(temperature, "temperature")
weather_description = update_column_names(weather_description, "weather_description")
wind_direction = update_column_names(wind_direction, "wind_direction")
wind_speed = update_column_names(wind_speed, "wind_speed")

In [5]:
dfs = [humidity, pressure, temperature, weather_description, wind_direction, wind_speed]
hourly_weather_data = reduce(lambda left,right: pd.merge(left,right,on='datetime'), dfs)
hourly_weather_data["humidity_Denver"].head()

0     NaN
1    62.0
2    62.0
3    62.0
4    62.0
Name: humidity_Denver, dtype: float64

In [6]:
def view_city_attributes(df, city, attributes):
    wanted_columns = [attribute +  "_" + city for attribute in attributes]
    return df[wanted_columns]

In [7]:
city = "Denver"
attributes = ["humidity", "pressure", "temperature", "weather_description", "wind_direction", "wind_speed"]
denver = view_city_attributes(hourly_weather_data, city, attributes)

denver.insert(0, "datetime", hourly_weather_data["datetime"])
denver = denver.dropna()

In [8]:
denver.head(10)

,datetime,humidity_Denver,pressure_Denver,temperature_Denver,weather_description_Denver,wind_direction_Denver,wind_speed_Denver
1,2012-10-01 13:00:00,62.0,1028.0,284.610000,light rain,20.0,4.0
2,2012-10-01 14:00:00,62.0,1028.0,284.607306,broken clouds,22.0,4.0
3,2012-10-01 15:00:00,62.0,1028.0,284.599918,broken clouds,31.0,3.0
4,2012-10-01 16:00:00,62.0,1028.0,284.592530,broken clouds,39.0,3.0
5,2012-10-01 17:00:00,63.0,1028.0,284.585142,broken clouds,47.0,3.0
6,2012-10-01 18:00:00,63.0,1028.0,284.577755,broken clouds,55.0,3.0
7,2012-10-01 19:00:00,63.0,1028.0,284.570367,broken clouds,64.0,3.0
8,2012-10-01 20:00:00,64.0,1028.0,284.562979,broken clouds,72.0,3.0
9,2012-10-01 21:00:00,64.0,1028.0,284.555591,broken clouds,80.0,3.0
10,2012-10-01 22:00:00,65.0,1028.0,284.548204,broken clouds,88.0,3.0

In [31]:
denver.describe()

,humidity_Denver,pressure_Denver,temperature_Denver,wind_direction_Denver,wind_speed_Denver
count,43445.000000,44710.000000,45252.000000,45252.000000,45251.000000
mean,53.022557,1011.976359,282.839407,184.769005,2.438996
std,23.905392,41.343487,10.673464,104.705030,2.158956
min,5.000000,800.000000,247.727667,0.000000,0.000000
25%,33.000000,1014.000000,275.060000,100.000000,1.000000
50%,52.000000,1020.000000,282.970667,200.000000,2.000000
75%,73.000000,1025.000000,290.680000,268.000000,3.000000
max,100.000000,1089.000000,313.750000,360.000000,22.000000

In [9]:
denver.to_csv("data/denver_data.csv", index=False)